.commentsList{
    overflow: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: 500px;
    color: white;
    background: linear-gradient(90deg, rgb(113, 113, 115) 0%, rgb(79, 79, 79) 1%, rgb(0, 0, 0) 100%); 
    padding: 5px;
}